/* 
Bug à corriger 
Search key
line : 397 || ::-webkit-input-placeholder
line : 446 || .form-control
*/

body {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url("../content/fontface/GloriaHallelujah.ttf");
    font-family: "GloriaHallelujah.ttf";
}


/* KEYFRAMES START PAGE */

@keyframes start {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    50% {
        opacity: 0.3;
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -webkit-transform: rotate(360deg);
        /* Chrome, Safari, Opera */
        transform: rotate(360deg);
    }
}


/*
@MEDIA OPERATOR
    and "et",
    only "uniquement"
    not "non".
    "ou", il suffit d'énumérer différentes media queries à la suite, séparées par des virgules : 
    si l'une d'entre elles est valable, alors l'ensemble de la règle sera appliquée.
 */


/* Très petits appareils Téléphones exception (largeur < 567px)	*/

@media screen and (max-width: 576px) {}


/* Très petits appareils Téléphones (largeur < 768px)	*/

@media screen and (min-width: 576px) and (max-width: 768px) {}


/* Petits appareils Tablettes (largeur ≥ 768px) et (largeur < 992) */

@media screen and (min-width: 768px) and (max-width: 992px) {}


/* Ordinateur de bureau de taille moyens (largeur ≥ 992px)*/

@media screen and (min-width: 992px) and (max-width: 1200px) {}


/* Ordinateur de bureau de grande taille(largeur ≥ 1200px)*/

@media screen and (min-width: 1200px) {}

#header {
    height: 9em;
    background-color: rgb(14, 44, 42);
}

.header {}


/* Color link compétence */

.colorSimplon {
    color: #fff;
}

.colorSimplon:hover {
    color: rgb(223, 74, 228);
}

.colorGithub {
    color: #fff;
}

.colorGithub:hover {
    color: rgb(224, 191, 44);
}

.colorLinkedin {
    color: #fff;
}

.colorLinkedin:hover {
    color: rgb(40, 129, 202);
}

.colorTwitter {
    color: #fff;
}

.colorTwitter:hover {
    color: rgb(33, 161, 54);
}

.colorGoogle {
    color: #fff;
}

.colorGoogle:hover {
    color: rgb(167, 39, 39);
}

.colorEmail {
    color: #fff;
}

.colorEmail:hover {
    color: rgb(14, 177, 206);
}


/* Hover contact list center */

.list-center {
    display: flex;
    justify-content: center;
}


/* Div for project */

#contProject {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
}


/* List of my project */

#listeProject {
    margin: auto;
    color: white;
    border: 1px solid white;
}


/* btn list projects hover */

.show-on-hover:hover>ul.dropdown-menu {
    display: block;
}


/* project hover main ul */

#hover-project-hover-main {
    background-color: rgb(14, 44, 42);
}


/* project hover list li */

.hover-project-hover-list {
    background-color: rgb(14, 44, 42);
}

#hover-paraf-project-list {
    color: #fff;
    text-align: center;
    font-family: "GloriaHallelujah.ttf";
}

#hover-a-project-list {
    text-decoration: none;
    color: #fff;
    font-family: "GloriaHallelujah.ttf";
}

#hover-a-project-list:hover {
    text-decoration: none;
    color: #129888;
    font-family: "GloriaHallelujah.ttf";
}

.nav-header-color {
    background-color: rgb(14, 44, 42);
}

.body-section {
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.block-profil {
    height: 50em;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-top: -5%;
    padding: 1%;
    position: fixed;
}

.photo-profil {
    height: 100%;
    width: 100%;
    border: 2px solid #129888;
    border-radius: 10px;
}

.name {
    font-size: 2em;
    font-weight: 900;
    font-family: "GloriaHallelujah.ttf";
    color: #242424;
}

.job-function {
    font-family: "GloriaHallelujah.ttf";
    color: #129888;
}

.block-biographie {
    height: 20em;
    overflow: scroll;
    color: #6d6963;
    font-family: "GloriaHallelujah.ttf";
}

.biographie {
    color: #129888;
    font-weight: 900;
    font-family: "GloriaHallelujah.ttf";
}

.container-block-project {
    height: 35em;
    background-color: rgb(14, 44, 42);
    border-radius: 2px;
    overflow: scroll;
}

.block-project {
    height: 30em;
    overflow: scroll;
    font-family: "GloriaHallelujah.ttf";
    letter-spacing: 1px;
}

.project-header {
    background-color: #129888;
    border: 1px solid lime;
    animation: eventjs 0.000000000000000000000000001s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.name-project {
    color: #242424;
    font-family: "GloriaHallelujah.ttf";
}

@keyframes eventjs {
    0% {
        border: 5px solid lime;
    }
    50% {
        border: 5px solid black;
    }
    100% {
        border: 5px solid black;
    }
}

.project-body {
    color: #fff;
}

.preview-project {
    height: 10em;
    width: 100%;
    border-radius: 5px;
    /* Zoom */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* GrayScale */
    filter: grayscale(0.2);
    -webkit-filter: grayscale(0.2);
    -moz-filter: grayscale(0.2);
    -o-filter: grayscale(0.2);
    -ms-filter: grayscale(0.2);
}

.preview-project:hover {
    height: 10em;
    width: 100%;
    border-radius: 5px;
    /* Zoom */
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    /* GrayScale */
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}

#logos-languages {
    height: 2em;
    width: 30px;
    margin: 5%;
    /* Zoom */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* GrayScale */
    filter: grayscale(1);
    -webkit-filter: grayscale(0.6);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

#logos-languages:hover {
    height: 2em;
    width: 30px;
    margin: 5%;
    /* Zoom */
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    /* GrayScale */
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}

.profil-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#logos-reseaux {
    height: 2em;
    width: 30px;
    border-radius: 100%;
    margin: 15%;
    /* Zoom */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* GrayScale */
    filter: grayscale(1);
    -webkit-filter: grayscale(0.3);
    -moz-filter: grayscale(0.3);
    -o-filter: grayscale(0.3);
    -ms-filter: grayscale(0.3);
}

#logos-reseaux:hover {
    height: 2em;
    width: 30px;
    border-radius: 100%;
    margin: 15%;
    /* Zoom */
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    /* GrayScale */
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}


/* Formulaire contact */


/*Contact sectiom*/

.header-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 20px;
}

.content-header {
    color: #242424;
    font-family: "GloriaHallelujah.ttf";
    font-size: 45px;
}

.section-content {
    text-align: center;
}

.contact {
    width: 100%;
    width: 100vw;
    height: auto;
    padding: 20px;
    margin: 40px;
    font-family: "GloriaHallelujah.ttf", 'Teko', sans-serif;
}

.contact-section {
    padding-top: 40px;
}

.contact-section .col-md-6 {
    width: 50%;
}

.form-line {
    border-right: 2px solid #129888;
}


/* placeholder color text */

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #129888;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #129888;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #129888;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #129888;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #129888;
}


/* View class in inspector element */

.form-control::-webkit-input-placeholder {
    color: #d80f0f;
}


/* End of placeholder */

.form-group {
    margin-top: 10px;
}

label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control {
    font-size: 1.3em;
    color: #080808;
    /* Input border est pas pris en compte à coriger */
    border: none;
    border-left: 1px solid rgb(14, 44, 42);
}

textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}


/* Footer */

.reseaux {
    display: flex;
    justify-content: center;
}

.author2017 {
    font-size: 8px;
    font-family: "GloriaHallelujah.ttf";
    color: #129888;
    text-align: center;
}