/* KEYFRAMES START PAGE */

@keyframes start {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        opacity: 0;
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    50% {
        opacity: 0.3;
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -webkit-transform: rotate(360deg);
        /* Chrome, Safari, Opera */
        transform: rotate(360deg);
    }
}


/* ADD FONT-FACE */

@font-face {
    src: url("../content/fontface/amita-regular.ttf");
    font-family: "amita-regular.ttf";
}


/* 
    and "et",
    only "uniquement"
    not "non".
    "ou", il suffit d'énumérer différentes media queries à la suite, séparées par des virgules : 
    si l'une d'entre elles est valable, alors l'ensemble de la règle sera appliquée.
 */


/* Très petits appareils Téléphones exception (largeur < 567px)	*/

@media screen and (max-width: 576px) {
    #header {
        height: 3em;
        background-color: rgb(14, 44, 42);
    }
    .header {}
    .body-section {
        height: 100%;
        background-color: lightsalmon;
    }
    .block-profil {
        height: 100%;
        background-color: rgb(255, 255, 255);
        border: 1px solid #129888;
        border-radius: 2px;
        margin-left: 8.33333333%;
    }
    .name {
        font-size: 1em;
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .block-project {
        height: 30em;
        background-color: rgb(14, 44, 42);
        border-radius: 2px;
        margin-left: 8.33333333%;
    }
    .project-header {
        background-color: #129888;
    }
    .project-body {
        color: #fff;
    }
    .profil-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .photo-profil {
        height: 20em;
        width: 80%;
        margin: 3%;
        border: 2px solid #129888;
        border-radius: 10px;
    }
    #logos-reseaux1 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux2 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux3 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux4 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux5 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux6 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    .biographie {
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .preview-project {
        height: 8em;
    }
    /* Footer */
    .black {
        height: 3em;
        background-color: #191919;
    }
    .grey {
        height: 15em;
        background-color: #232323;
    }
}


/* Très petits appareils Téléphones (largeur < 768px)	*/

@media screen and (min-width: 576px) and (max-width: 768px) {
    #header {
        height: 3em;
        background-color: rgb(14, 44, 42);
    }
    .header {}
    .body-section {
        height: 100%;
        background-color: rgb(248, 50, 0);
    }
    .block-profil {
        height: 50em;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        margin-top: -5%;
        padding: 1%;
        position: fixed;
        overflow-x: scroll;
    }
    .name {
        font-size: 1em;
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .block-project {
        height: 35em;
        background-color: rgb(14, 44, 42);
        border-radius: 2px;
        margin-left: 8.33333333%;
    }
    .project-header {
        background-color: #129888;
    }
    .project-body {
        color: #fff;
    }
    .profil-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .photo-profil {
        height: 100%;
        width: 100%;
        border: 2px solid #129888;
        border-radius: 10px;
    }
    #logos-reseaux1 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux2 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux3 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux4 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux5 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux6 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    .biographie {
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .preview-project {
        height: 8em;
    }
    /* Footer */
    .black {
        height: 3em;
        background-color: #191919;
    }
    .grey {
        height: 15em;
        background-color: #232323;
    }
}


/* Petits appareils Tablettes (largeur ≥ 768px)*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    #header {
        height: 4em;
        background-color: rgb(14, 44, 42);
    }
    .body-section {
        height: 100%;
        background-color: rgb(255, 157, 0);
    }
    .block-profil {
        height: 50em;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        margin-top: -5%;
        padding: 1%;
        position: fixed;
        overflow-x: scroll;
    }
    .name {
        font-size: 1em;
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .block-project {
        height: 35em;
        background-color: rgb(14, 44, 42);
        border-radius: 2px;
        margin-left: 8.33333333%;
    }
    .project-header {
        background-color: #129888;
    }
    .project-body {
        color: #fff;
    }
    .profil-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .photo-profil {
        height: 100%;
        width: 100%;
        border: 2px solid #129888;
        border-radius: 10px;
    }
    #logos-reseaux1 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux2 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux3 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux4 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux5 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux6 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    .biographie {
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .preview-project {
        height: 8em;
    }
    /* Footer */
    .black {
        height: 3em;
        background-color: #191919;
    }
    .grey {
        height: 15em;
        background-color: #232323;
    }
}


/* Ordinateurs de bureau moyens (largeur ≥ 992px) */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #header {
        height: 5em;
        background-color: rgb(14, 44, 42);
    }
    .header {}
    .body-section {
        height: 100%;
        background-color: rgb(238, 255, 0);
    }
    .block-profil {
        height: 50em;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        margin-top: -5%;
        padding: 1%;
        position: fixed;
        overflow-x: scroll;
    }
    .name {
        font-size: 1em;
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .block-project {
        height: 35em;
        background-color: rgb(14, 44, 42);
        border-radius: 2px;
    }
    .project-header {
        background-color: #129888;
    }
    .project-body {
        color: #fff;
    }
    .profil-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .photo-profil {
        height: 100%;
        width: 100%;
        border: 2px solid #129888;
        border-radius: 10px;
    }
    #logos-reseaux1 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux2 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux3 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux4 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux5 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux6 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    .biographie {
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .preview-project {
        height: 8em;
    }
    /* Footer */
    .black {
        height: 3em;
        background-color: #191919;
    }
    .grey {
        height: 15em;
        background-color: #232323;
    }
}


/* Ordinateurs de bureau de grande taille (largeur ≥ 1200px)*/

@media screen and (min-width: 1200px) {
    #header {
        height: 6em;
        background-color: rgb(14, 44, 42);
    }
    .header {}
    .body-section {
        height: 100%;
        background-color: rgb(255, 255, 255);
    }
    .block-profil {
        height: 50em;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        margin-top: -5%;
        padding: 1%;
        position: fixed;
        overflow-x: scroll;
    }
    .name {
        font-size: 2em;
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .block-project {
        height: 35em;
        background-color: rgb(14, 44, 42);
        border-radius: 2px;
    }
    .name-project {
        color: rgb(14, 44, 42);
    }
    .project-header {
        background-color: #129888;
    }
    .project-body {
        color: #fff;
    }
    .profil-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .photo-profil {
        height: 100%;
        width: 100%;
        border: 2px solid #129888;
        border-radius: 10px;
    }
    #logos-reseaux1 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux2 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux3 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux4 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux5 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    #logos-reseaux6 {
        height: 2em;
        width: 30px;
        border-radius: 100%;
        margin: 15%;
    }
    .biographie {
        font-weight: 900;
        font-family: "amita-regular.ttf";
    }
    .preview-project {
        height: 8em;
    }
    /* Footer */
    .black {
        height: 3em;
        background-color: #191919;
    }
    .grey {
        height: 15em;
        background-color: #232323;
    }
}