* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}

#section-header {
    height: 20vh;
    width: 100%;
    background-color: #303030;
    /* background-color: #1c1c1c; dark foncer*/
    /* background-color: #ecf0f1; cloud*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-user-header {
    height: 2vh;
    width: 20px;
}

#photo-djaafar-header {
    height: 5vh;
    width: 30px;
    border-radius: 100%;
}

.h1-header {
    color: #fff;
}

.p-header {
    color: #fff;
}